*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    text-align: center;
    background-color: #222233;
    padding: 0.5rem;
}

h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
}

h1{
    font-weight: 400;
    color: #f0f0f0;
}

h2, h3{
    font-weight: 600;
    color: #e0e0e0;
}
h2::before{
    content: ">";
    margin-right: 0.25rem;
    color: burlywood;
}

body{
    background-color: #555566;
    color: #d5d5d5;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
pre{
    padding: 1rem;
    background-color: #333344;
    width: min-content;
    max-width: 100%;
    overflow-x: auto;
    color: burlywood;
}

button{
    background-color: #222233;
    border: none;
    padding: 0.25rem;
}

.box{
    padding: 1rem;
}
.block{
    overflow: hidden;
    padding: 2rem 1rem;
}

#ih-script{
    border: 2px solid #666677;
    border-radius: 1rem;
    overflow: hidden;
    width: min-content;
    max-width: 100%;
}

#ih-script>button{
     width: 100%;
     color: #f0f0f0;
}

.warning {
    background: #223;
    border-left: 4px solid #ff9800;
    padding: 12px 16px;
}
li{
    margin-left: 1rem;
}

footer{
    padding: 2rem 1rem;
}

hr{
    margin: 1rem 0;
}

a{
    color: burlywood;
}